{%- assign raw_path_from_include = include.path | default: "" | strip -%}
{%- if raw_path_from_include != "" -%}
  {%- assign full_relative_path = raw_path_from_include | relative_url -%}
  {%- assign last_dot = raw_path_from_include | split: '.' | last -%}
  {%- assign extension_with_dot = '.' | append: last_dot -%}
  {%- assign ext_size = extension_with_dot | size -%}
  {%- assign path_size = raw_path_from_include | size -%}
  {%- assign base_size = path_size | minus: ext_size -%}
  {%- assign base_path = raw_path_from_include | slice: 0, base_size -%}

  <figure
    {% if include.slot %}slot="{{ include.slot }}"{% endif %}
  >
    <picture>
      {% if site.imagemagick.enabled %}
        <source
          class="responsive-img-srcset"
          srcset="{% for i in site.imagemagick.widths %}{{ base_path }}{{ extension_with_dot }}-{{ i }}.webp {{ i }}w{% unless forloop.last %},{% endunless %}{% endfor %}"
          {% if include.sizes %}sizes="{{include.sizes}}"{% elsif page.permalink == '/gallery/' %}sizes="(min-width: 768px) 22vw, 85vw"{% else %}sizes="95vw"{% endif %}
          type="image/webp"
        >
      {% endif %}
      <img
        src="{{ full_relative_path }}"
        alt="{% if include.alt %}{{ include.alt | escape }}{% else %}Gallery Image{% endif %}"
        style="width: 100%; height: auto;"
        {% if include.class %}class="{{ include.class }}"{% endif %}
        loading="{% if include.loading %}{{ include.loading }}{% elsif site.lazy_loading_images %}lazy{% else %}eager{% endif %}"
        onerror="this.onerror=null; if (this.previousElementSibling && this.previousElementSibling.tagName === 'SOURCE') { this.previousElementSibling.remove(); } this.src='{{ full_relative_path }}';"
        {% if include.zoomable %}data-zoomable{% endif %}
      >
    </picture>
    {% if include.caption %}<figcaption class="caption">{{ include.caption | escape }}</figcaption>{% endif %}
  </figure>
{%- else -%}
  <p style="color:red; border:1px solid red; padding:5px;">Error: Image path not provided to figure.liquid.</p>
{%- endif -%}