{%- comment -%}
  This is a reusable card for the gallery.
  It expects to be included with a variable `item` that has the following properties:
  - item.file: The base filename of the media (e.g., "my_image.png" or "my_video.mp4").
  - item.type: "image" or "video".
  - item.caption: The text description for the card body.
  - item.tags: An array of strings.
{%- endcomment -%}

<div class="gallery-card" data-tags="{{ item.tags | join: ', ' | downcase }}">
  <div class="card mb-4 shadow-sm">
    {%- if item.type == 'image' -%}
      {%- assign webp_filename = item.file | split: '.' | first | append: '-800.webp' -%}
      {%- assign webp_path = '/assets/img/Gallery/webp/' | append: webp_filename | relative_url -%}
      <img loading="lazy" src="{{ webp_path }}" class="img-fluid rounded z-depth-1" alt="{{ item.caption | escape }}">
    {%- elsif item.type == 'video' -%}
      <div class="video-aspect-ratio-container">
        <video loading="lazy" src="{{ '/assets/video/' | append: item.file | relative_url }}" class="img-fluid rounded z-depth-1" type="video/mp4" controls></video>
      </div>
    {%- endif -%}
    {%- if item.caption and item.caption != "" -%}
      <div class="card-body">
        <p class="card-text">{{ item.caption }}</p>
      </div>
    {%- endif -%}
  </div>
</div>
